/* Navbar */
.custom_navbar{
    background-color: #2B3E50;
    margin-bottom: 0;
}

.custom_navbar a{
    text-transform: uppercase;
    font-weight: bold;
}

.custom_navbar li a:hover, .custom_navbar a:hover{
    background-color: #3A546D;
}

.custom_navbar .icon-bar{
    background-color: white;
}


/* Main */
section{
    padding: 40px 0;
}

.green{
    background-color: #18BC9B;
}

.img_container{
    padding-bottom: 20px;
}

.img_container img{
    max-width: 200px;
}


.orizzontal_div{
    height: 2px;
    background-color: white;
    width: 15%;
    display: inline-block;
    vertical-align: middle;
}

.fa{
    display: inline-block;
    vertical-align: middle;
}

.green ul li{
    font-size: 20px;
    padding-top: 20px;
}

.green ul li:hover{
    text-decoration: underline;
}

.portfolio_row img{
    margin: 15px 0;
}

.portfolio_row img:hover{
    opacity: 0.7;
}

.green p{
    color: white;
    margin: 20px 0;
}

form{
    padding-top: 20px;
}

.form-group input, .form-group textarea{
    border-top: none;
    border-right: none;
    border-left: none;
    box-shadow: none;
}

.form-group input::placeholder, .form-group textarea::placeholder{
    color: black;
}

/* Footer */
footer{
    background-color: #3A546D;
}

.social_container i{
    width: 40px;
    height: 40px;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    color: white;
    border: 1px solid white;
    border-radius: 50%;
}

.social_container i:hover{
    background-color: #18BC9B;
}

footer .darker{
    background-color: #2B3E50;
    height: 50px;
    margin: 0;
}

.text-left span a{
    color: #18BC9B;
}

/* Media Query */
@media screen and (max-width: 767px){
    footer.white_text address, footer.white_text p{
        text-align: center;
    }
    footer.white_text h4{
        padding-top: 20px;
    }

} 


/* Utilities */
.white_text{
    color: white;
}

.black_text{
    color: black;
}

.black_div{
    background-color: black;
}

.custom_btn{
    background-color: transparent;
    color: white;
    border: 1px solid white;
}

.custom_btn:hover{
    background-color: white;
    color: #18BC9B;
}

.green_custom_btn{
    background-color: #18BC9B;
    color: white;
}

.green_custom_btn:hover{
    background-color: white;
    color: #18BC9B;
    border: 1px solid #18BC9B;
}


a:hover{
    color: #18BC9B;;
}