/* .green_jumbotron .img_row, .white_portfolio .text_row, .green_about .text_row, .white_contact .text_row{
    padding-top: 80px;
} 

form >*{
    padding-top: 20px;
}

.white_portfolio{
    text-align: center;
}

.dark_contacts h3, footer{
    margin-top: 50px;
}

@media screen and (max-width: 767px){
    .dark_contacts address, .dark_contacts p{
        text-align: center;
    }
} */

.custom_navbar{
    background-color: #2B3E50;
}

.custom_navbar a {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.custom_navbar li a:hover{
    background-color: #3A546D;
}

.custom_navbar .icon-bar{
    background-color: white;
}
