/* .green_jumbotron .img_row, .white_portfolio .text_row, .green_about .text_row, .white_contact .text_row{
    padding-top: 80px;
} 

form >*{
    padding-top: 20px;
}

.white_portfolio{
    text-align: center;
}

.dark_contacts h3, footer{
    margin-top: 50px;
}

@media screen and (max-width: 767px){
    .dark_contacts address, .dark_contacts p{
        text-align: center;
    }
} */

.custom_navbar{
    background-color: #2B3E50;
    margin-bottom: 0;
}

.custom_navbar a {
    text-transform: uppercase;
    font-weight: bold;
}

.custom_navbar li a:hover{
    background-color: #3A546D;
}

.custom_navbar .icon-bar{
    background-color: white;
}

section{
    padding-top: 60px;
}

.green{
    background-color: #18BC9B;
}

.img_container{
    padding-bottom: 20px;
}

.img_container img{
    width: 200px;
}


.orizzontal_div{
    height: 2px;
    background-color: white;
    width: 15%;
    display: inline-block;
    vertical-align: middle;
}

.fa{
    display: inline-block;
    vertical-align: middle;
}

.portfolio_row img{
    margin: 15px 0;
}




/* utility */

.white_text{
    color: white;
}

.black_text{
    color: black;
}

.black_div{
    background-color: black;
}